body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-family: "Roboto Condensed", sans-serif;
	background-image: radial-gradient(#730801, #1f0100);
	overflow: hidden;
}

#marvel {
	color: transparent;
	font-size: 250vh;
	-webkit-text-stroke: 2px #000;
	letter-spacing: -2vh;
	opacity: 0;
	animation: marvel 11s ease 2s forwards;
}

@keyframes marvel {
	0% {
		opacity: 0;
		font-size: 205vh;
		color: rgba(255, 255, 255, 0);
		-webkit-text-stroke-color: #000;
	}
	20% {
		opacity: 1;
		color: rgba(255, 255, 255, 0);
		-webkit-text-stroke-color: #000;
	}
	60% {
		color: rgba(255, 255, 255, 0.5);
		-webkit-text-stroke-color: #000;
	}
	100% {
		opacity: 1;
		font-size: 30vh;
		color: rgba(255, 255, 255, 1);
		-webkit-text-stroke-color: transparent;
	}
}

#maincover {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	background-image: url(/images/img-1.jpg);
	background-attachment: fixed;
	background-size: cover;
	z-index: 1;
	transform: scale(1.4);
	animation: hidemaincover 14s ease 0s forwards;
}

@keyframes hidemaincover {
	0% {
		opacity: 1;
		transform: scale(1.4);
	}
	60% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

#loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: #000000;
	z-index: 125;
}

#loader span {
	display: block;
	color: #518cca;
	font-size: 120px;
	margin-top: 10px;
}

#loader span b {
	margin-left: 12px;
}

.ytlink {
	text-decoration: none;
	color: #e23636;
	font-size: 50px;
	text-transform: uppercase;
	border: 1px solid #f78f3f;
}

.ytlink:hover {
	color: #f78f3f;
	background-color: #e23636;
	opacity: 1;
	border: 1px solid #e23636;
}


#hidden-images {
	position: fixed;
	opacity: 0;
	z-index: -1;
}

#ytd_link {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	z-index: 1;
}

.cursor {
	cursor: pointer;
}